@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Welkom bij Frietzaak!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="text-align: left;">
            <img src="~/img/foto.jpg" alt="Home pagina afbeelding" style="width: 400px; height: auto; margin: 20px 20px 20px 0; float: left;" />
            <p style="font-size: 1.2em; line-height: 1.5; margin: 20px 0;">
                Bij Frietzaak staan we bekend om onze heerlijke, krokante frieten en versgebakken snacks. Onze ingrediënten zijn van de hoogste kwaliteit, en we bereiden alles met liefde en aandacht voor detail.
                Of je nu zin hebt in een traditionele friet of een van onze unieke snacks, we hebben voor ieder wat wils! Kom snel langs en proef zelf waarom wij de favoriete frietzaak van de stad zijn!
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 40px; display: flex; align-items: center;">
        <div class="col-md-6">
            <h2>Contact</h2>
            <p>
                Heb je vragen of opmerkingen? Neem contact met ons op via:
            </p>
            <p>
                <strong>Email:</strong> info@frietzaak.nl<br />
                <strong>Telefoon:</strong> 0123-456789<br />
                <strong>Adres:</strong> Frietstraat 1, 1234 AB, Stad
            </p>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <h3>Openingstijden</h3>
            <p>
                Maandag - Vrijdag: 11:00 - 21:00<br />
                Zaterdag: 12:00 - 22:00<br />
                Zondag: Gesloten
            </p>
        </div>
    </div>
</div>
